 <div class="row footer">
        <div class="col-4">
            {{#each pages}}
                <a class="pages_var" href="{{path}}">{{name}}</a>
            {{/each}}
        </div>
        <div class="col-4">
            <p class="copyright">{{copyright}}</p>
        </div>
    </div>